body {
    font-family: Helvetica, sans-serif;
    color: white;
    background-color: slategray;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: orange;
    font-style: italic;
}

#resume_link {
    float: left;  
    background-color: orange;
}

#biography_link {
    float: right;
    background-color: orange;
}

p {
    margin-top: 100px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
    font-size: 20px;
}

#bio_header {
    color: orange
}

#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}